
@media (max-width: 768px) {
    .desktop-nav {
      display: none;
    }
  
    .horizontal-menu {
      display: block; 
      background-color:white;
      padding: 10px;
      text-align: center;
    }
  
    .horizontal-menu ul {
      list-style: none;
      padding: 0;
    }
  
    .horizontal-menu li {
      display: inline-block;
      margin: 0 10px;
    }
  
    .horizontal-menu a {
      text-decoration: none;
      font-size: 16px;
      color: #000;
    }
  
    section {
      padding: 10px;
    }
  
    .section-pic-container img,
    .about-picture img,
    .Menu-picture img,
    .Reservation-details img,
    .contact-picture img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  
    .logo {
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .footer-paragraph {
      font-size: 14px;
      text-align: center;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .horizontal-menu a {
      font-size: 14px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .footer-paragraph {
      font-size: 12px;
    }
  }
